.table {
    display: block;
    padding: 2%;
}
.table__header {    
    display: block;
  
    background-color: #60a9ca;   
} 
.table__body {
   display: block;
    
   overflow: hidden;
} 
.table__body:hover {
    overflow-y: scroll;
    
}

.table thead th {
    border-bottom: 0;
}
    




