.App {
  text-align: center; 
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.App__header {
  max-height: 30vh;
}

.App__content {  
  height: 100vh;
  background-color: rgb(216, 212, 187);
}

